.root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1;

    display: flex;
}

app-game-board {
    flex: 1 1;
}

app-chat-window {
    min-width: 315px;
}